/*variables*/
:root {
  --textColor: white;
  --secondaryTextColor: lightgray;
  --background: #232323;
  --accent: #fffc38;
  --secondaryBg: #505050;
}

/* general */
* {
    font-family: "Courier New", Courier, monospace;
   }

body {
    background-color: var(--background);
    color: var(--textColor);
    width: 1000px;
    margin: auto;
}

header {
  text-align: right;
  padding: 10px;
  margin-right: 10vw;
  width: 100%;
}

.title{
    background-color: var(--textColor);
    color: var(--background);
}

h1 {
    color: var(--accent);
    }

.cursor {
  display: inline-block;
  padding: 2px;
  animation: blink 1s step-end infinite;
}

.yellow {
    color: var(--accent);
}

/* left side bar */

.left-aside{
    width: 22%;
    height: 800px;
    float: left;
    margin-right: 5px;
}

.navbar {
    background-image: url(street-imgs/signs1.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%;
    height: 275px;
}

.nav-title{
    display: grid;
    place-items: center;
    padding-top: 5%;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 5%;
    width: 80%;
    color: var(--accent);
    padding: 2% 5%;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3%;
}
.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

/* right side bar */

.right-aside{
    width: 22%;
    height: 800px;
    float: left;
    margin-left: 5px;
    align-items: center;
}

.info {
    margin: auto;
    border: var(--secondaryTextColor) solid 2px;
    margin-top: 10px;
    padding: 5%;
}

/* main blocks */

.main {
    float: left;
    width: 55%;
}

.main-quote {
    float: right;
    margin: 2%;
}

#updates{
    border: var(--secondaryTextColor) solid 2px;
}

p {
    padding: 3%;
}


   
   

